<a href="/movies">Back</a>
<h1>{{movie.title}}</h1>
<hr>
<img src="{{movie.image}}" alt="Movie Poster">
<div>
    <h3>Director: {{movie.director}}</h3>
    <ul>
        <li>Stars: {{movie.stars}}</li>
    </ul>
    <p>Summary: {{movie.description}}</p>
    <ul>
        <li>Showtimes: {{movie.showtimes}}</li>
    </ul>
</div>
</hr>